# Realtek RTS5918 I3C driver configuration options
#
# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_REALTEK_RTS5918_I3C := realtek,rts5918-i3c

module = I3C_REALTEK_RTS5918
module-str = i3c-realtek-rts5918
source "subsys/logging/Kconfig.template.log_config"

config I3C_REALTEK_RTS5918
	bool "Realtek RTS5918 I3C driver"
	depends on DT_HAS_REALTEK_RTS5918_I3C_ENABLED
	select I3C_IBI_WORKQUEUE if I3C_USE_IBI
	select RTS5918_I3C
	select RTS5918_I3C_CTRL
	select RTS5918_I3C_TAGT
	select RTS5918_I3C_IBI if I3C_USE_IBI
	default y
	help
	  Enable Realtek RTS5918 I3C controller/target driver.

config RTS5918_I3C
	bool

config RTS5918_I3C_CTRL
	bool
	depends on RTS5918_I3C

config RTS5918_I3C_TAGT
	bool
	depends on RTS5918_I3C

config RTS5918_I3C_IBI
	bool
	depends on RTS5918_I3C

config RTS5918_I3C_DMA
	bool "Enable RTS5918 I3C DMA handshaking"
	depends on I3C_REALTEK_RTS5918
	help
	  Enable the RTS5918 I3C DMA data path. Leave disabled unless the SoC DMA
	  integration and DMA shim are available.

config RTS5918_I3C_CORE_LOG
	bool "Enable RTS5918 I3C core log"
	depends on I3C_REALTEK_RTS5918
	default y

config RTS5918_I3C_CORE_LOG_LEVEL
	int "RTS5918 I3C core log level"
	range 0 5
	depends on RTS5918_I3C_CORE_LOG
	default 3
	help
	  0: off, 1: error, 2: warning, 3: info, 4: debug, 5: register.

config RTS5918_I3C_COSIM
	bool "Enable RTS5918 I3C co-simulation log"
	depends on I3C_REALTEK_RTS5918
