# Copyright (c) 2025, Realtek, SIBG-SD7
# SPDX-License-Identifier: Apache-2.0

config BBRAM_RTS5918
	bool "Realtek RTS5918 Battery-backed RAM drivers"
	default y
	depends on DT_HAS_REALTEK_RTS5918_BBRAM_ENABLED
	help
	  This option enables the BBRAM driver for Realtek RTS5918 of processors.
