# Realtek counter configuration options

# Copyright (c) 2023 Realtek Corporation
# SPDX-License-Identifier: Apache-2.0

config COUNTER_REALTEK_RTS5918
	bool "Realtek rts5918 series counter driver"
	default y
	depends on DT_HAS_REALTEK_RTS5918_TIMER_ENABLED
	help
	  Enable counter driver for Realtek RTS5918 MCU series. Such driver
	  will expose the basic timer devices present on the MCU.
